body {
   margin: 0;
   background-color: rgb(26, 26, 26);
   text-align: center;
}

h1 {
   margin: 0;
}

#title {
   text-align: left;
   padding-top: 1%;
   padding-bottom: 2%;
   padding-left: 2%;
   background-color: black;
}

.home {
   font-size: larger;
   border: 0;
   background-color: transparent;
   cursor:pointer;
   color: blue;
}

.menu {
   font-size: large;
   border: 0;
   background-color: transparent;
   cursor:pointer;
   color:darkblue
}

.menu:hover, .home:hover {
   color:dimgray;
}

#img {
   width: 500px;
   height: 500px;
   object-fit: cover;
}