body {
   background-color: black;
   text-align: center;
}
h1 {
   color: gold;
}
p {
   color: whitesmoke;
}
button {
   color: black;
   background-color: blueviolet;
   font-size: large;
   border-color: gold;
}